{% extends 'base.html' %}
{% load static %}
{% block index %}
	<!-- карусель -->
  	{% include 'carusel.html' %}


<section class="about-area about-five">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-12">
<div class="about-image-five">
<svg class="shape" width="106" height="134" viewBox="0 0 106 134" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="1.66654" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="1.66654" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.3333" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.3333" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.3333" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.333" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.333" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.333" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.333" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="16.333" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="30.9998" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6665" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="30.9998" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6665" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="30.9998" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6665" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="31" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6668" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="31" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6668" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="31" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6668" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="31" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6668" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="31" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="74.6668" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="45.6665" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="89.3333" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.3333" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="16.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.3333" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="31.0001" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.3333" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="45.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.333" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="60.3335" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.333" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="88.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.333" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="117.667" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.333" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="74.6668" r="1.66667" fill="#DADADA"></circle>
<circle cx="60.333" cy="103" r="1.66667" fill="#DADADA"></circle>
<circle cx="104" cy="103" r="1.66667" fill="#DADADA"></circle>
</svg>
<img src="{% static 'img/IMG_6632.jpg' %}" alt="about">
</div>
</div>
<div class="col-lg-6 col-12">
<div class="about-five-content">
<h6 class="small-title text-lg">Самый часто задаваемый вопрос в нашей практике</h6>
<h2 class="main-title fw-bold">Почему именно Youtube?</h2>
<div class="about-five-tab">
<nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist"></div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade active show" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
<p>YouTube - это самый масштабный видеохостинг на планете 🌏.

По состоянию на начало 2021, в YouTube было более 2,3 млрд активных пользователей. Только вдумайтесь, какой это масштаб😱. А теперь представьте какой объём финансов вливается для рекламы! Это же миллиарды долларов в день!</p>

</div>
<div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
<p>It is a long established fact that a reader will be distracted by the readable content of a page
when
looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
distribution of letters, look like readable English.</p>
<p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
form,
by injected humour.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</section>





<div class="container">
    <div class="section-title text-center center">
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6"><img src="{% static 'img/IMG_6630.jpg' %}" class="img-responsive" alt="website template image"></div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
			<h2 class="main-title fw-bold">КАКОЙ ШАНС ТОГО, ЧТО ТЫ СМОЖЕШЬ ЗАРАБОТАТЬ НА YOUTUBE❓</h2>
    <hr style="border-style: dashed;">

          <p>Каждый канал имеет право на органический трафик и шанс на успех💵
⠀
Но что бы канал мог выстрелить и продолжил набирать свою аудиторию, нужно знать все нюансы и понимать, что можно делать, а что нельзя🚫.
⠀
<p>После выстрела канал либо продолжит набирать обороты, либо скатится. По другому ни как.
Ваш контент оценивается зрителями по показателям удержания и так далее и исходя из этих показателей, вам либо дают ещё больше просмотров, денег💰… либо забирают почти все.
⠀
Вы должны знать все о каждом из показателей📊 и уметь анализировать их, что бы понимать, что именно интересно вашей аудитории. Только таким образом вы можете быть успешными на видеохостинге YouTube.</p>
⠀
Трафик распределяется четким алгоритмом, а не случайным образом.
⠀
Следи за новыми постами в нашем сообществе и мы будем раскрывать каждый из показателей более подробно.</p>
          <a href="/about" class="btn btn-default btn-lg page-scroll">Узнать о наставниках</a></div>
      </div>
    </div>
  </div>





  	<!-- форма -->
  	<section>
  		<div class="container class_form ">
  			<h1 class="text-3">Оставь заявку</h1>
  			<div class="row justify-content-center">
  			<form action="{% url 'thanks_page' %}" method="POST" style="width: 50%;">
				{% csrf_token %}
			  <div class="form-group row">
			    <label for="inputEmail3" class="col-sm-2 col-form-label">Имя</label><br>
				  {{ form.name }}
			    <div class="">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputEmail3" class="col-sm-2 col-form-label">Ник в телегам</label><br>
				  {{ form.phone }}
			    <div class="">
			    </div>
			  </div>
			  <div style="float: right;" class="form-group row">
			      <button type="submit" class="btn btn-success">Подать заявку</button>
			  </div>
			</form>
			</div>
  		</div>
  	</section>
{% endblock %}
